.socialmedia {
    font-size: 3.5rem;
    padding: .5rem;
    text-align: center;
    color: black;
}
.menuhead {
    font-size: 4rem;
    color: black;
}
.secmenu {
    font-size: 2rem;
    color: black;
    margin-top: .8rem;
}
.menu {
    max-width: 60%rem;
    margin: auto;
    text-align: center;
    border: .5rem solid black;
    background-color: green;
}
.image {
    display: block;
    margin-left: 50%;
    margin-right: 60%;
    width: 40%;
}
.image img:hover {
    transform: skew(5deg, 5deg);
}
.mainhead {
    text-align: center;
}